VITE_SUPABASE_URL=https://iumallxjlrumjysmteqm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1bWFsbHhqbHJ1bWp5c210ZXFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxNTE3NzYsImV4cCI6MjA5NDcyNzc3Nn0.xtmoR_DQfuUdaizDwvTfVP_O74IoDwPPUwxHlOX3hls
